@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Signika:wght@300..700&display=swap');




.primaryfont {
  font-family: "Signika", sans-serif;
}

.secondaryfont {
  font-family: "Inter", sans-serif;
}

.spanText {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(103.72deg, #009DDA 0%, #62BA47 97.95%);
  -webkit-background-clip: text;
  background-clip: text;

}

.DIDWalletDiv {
  background-image: url('./Images/Group\ 7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rectangleImg {
  transform: translateX(50%);
}

.rectangleImg2 {
  transform: translateX(50%);
}

.network {
  position: relative;
}

.network::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  max-width: 380px;
  max-height: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(103.72deg, rgba(0, 157, 218, 0.3) 0%, rgba(98, 186, 71, 0.3) 97.95%);
  filter: blur(380px);
  background-repeat: no-repeat;
  background-position: center;
}


.ImageDiv {
  position: absolute;
  /* top: 50%; */
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,
      rgba(0, 157, 218, 0) 0%,
      rgba(12, 161, 199, 0.7) 34.2%,
      rgba(87, 183, 88, 0.7) 69.53%,
      rgba(98, 186, 71, 0) 100%);
}

.ImageDivRight {
  position: absolute;
  width: 2px;
  height: 100%;
  /* top: 0; */
  background: linear-gradient(99.39deg, rgba(0, 157, 218, 0) 0%, rgba(12, 161, 199, 0.7) 34.2%, rgba(87, 183, 88, 0.7) 69.53%, rgba(98, 186, 71, 0) 100%);
}


.paddingImage {
  padding: 51px 0;
}

.maincontainerborder {
  background: linear-gradient(99.39deg, rgba(0, 157, 218, 0.3) 0%, rgba(12, 161, 199, 0.7) 34.2%, rgba(87, 183, 88, 0.7) 69.53%, rgba(98, 186, 71, 0.3) 100%);
}

.gradient {
  position: relative;
}


.gradient::before {
  position: absolute;
  content: "";
  max-width: 100%;
  width: 519px;
  max-height: 100%;
  height: 519px;
  background: linear-gradient(103.72deg, #009DDA 0%, #62BA47 97.95%);
  z-index: 1;
  border-radius: 50%;
  opacity: 0.1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  animation: scale 6s linear infinite;
}



.gradient::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  max-width: 100%;
  width: 519px;
  max-height: 100%;
  height: 519px;
  background: linear-gradient(103.72deg, #009DDA 0%, #62BA47 97.95%);
  z-index: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0.1;
  animation: scale 6s linear infinite;
  animation-delay: 2s;
}

.gradientcircle {
  position: relative;
}

.gradientcircle::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  max-width: 519px;
  max-height: 519px;
  background: linear-gradient(103.72deg, #009DDA 0%, #62BA47 97.95%);
  z-index: -1;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0.1;
  animation: scale 6s linear infinite;
  animation-delay: 4s;
}

@keyframes scale {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }

  to {
    transform: translate(-50%, -50%) scale(1.0);
  }
}

.Circle {
  animation: rotateLR 3s linear infinite;
}

.Circles {
  animation: rotateLR 3s linear infinite;
  background: #00000000;
  background-image: radial-gradient(circle, #030303, #020202, #02020230, #01010100, #00000000);
}

@keyframes rotateLR {
  0% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

.loading-box-container {
  --size: 591px;
  --radius: 26px;
  position: relative;
  width: var(--size);
  height: var(--size);
  padding: 3px;
  border-radius: var(--radius);
  overflow: hidden;
}

.loading-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
  border-radius: var(--radius);
}

.loading-box-container::before {
  content: '';
  width: 150%; 
  height: 150%;
  position: absolute;
  top: -25%; left: -25%;
    background: conic-gradient(#009DDA, #62BA47);


  animation: rotate-border 5s linear infinite;
}

@keyframes rotate-border {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1725px) {
  .rectangleImg {
    right: 0;
    transform: translateX(25%);
  }
}

@media screen and (max-width: 1580px) {
  .rectangleImg {
    right: 0;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1300px) {
  .TextMobileImg {
    gap: 26px;
  }
}

@media screen and (max-width: 1020px) {

  .rectangleImg2 {
    right: auto;
    left: 0;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1280px) {

  .ImageDivRight.md-ImageDiv {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,
        rgba(0, 157, 218, 0) 0%,
        rgba(12, 161, 199, 0.7) 34.2%,
        rgba(87, 183, 88, 0.7) 69.53%,
        rgba(98, 186, 71, 0) 100%);
  }
}

@media screen and (max-width: 768px) {
  .ImageDivRight.sm-ImageDiv {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,
        rgba(0, 157, 218, 0) 0%,
        rgba(12, 161, 199, 0.7) 34.2%,
        rgba(87, 183, 88, 0.7) 69.53%,
        rgba(98, 186, 71, 0) 100%);
  }
}

@media screen and (max-width: 640px) {
  .gradient::before {
    width: 270px;
    height: 270px;

  }

  .gradient::after {
    width: 270px;
    height: 270px;
  }

  .gradientcircle::before {
    width: 170px;
    height: 170px;
  }

}